<h2>Leave Applications</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Employee ID</th>
            <th>Employee Name</th>
            <th>From</th>
            <th>To</th>
            <th>Total Days</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="6">
                <h3>Approved</h3>
                <h3>Canceled</h3>
                <h3>Pending</h3>
            </td>
        </tr>
    </tbody>
</table>